{% extends "layout.njk" %}
{% block  content %}
<main>
    <h1>{{ title }}</h1>
    <p>{{ intro }}</p>
    <p>Detta är dock statisk text. Följt av data från databas.</p>
    <ul>
        {% for row in rows %}
        <li> 
            <div class="flex">
                <div class="name">
                    {{ row.name }}
                </div>
                <div class="bio">
                    {{ row.bio }}
                </div>
                <div class="secret">
                    {{ row.secret_identity }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}%