{% extends "layout.njk" %}
{% block  content %}
<main>
    <h3>{{ title }}</h3>
    <div class="flex">
        <div>
            <h1>HEEEEEEEEEEEEEEEEELL</h1>
        </div>
        <div>
            <img url="../public/images/greatshakes.jpg">
        </div>
    </div>
{% endblock %}
